:root {
    --primary-color: #3D3652;
    --secondary-color: #ffffff;
    --accent-color: #F7E7DC;
    --background-color: #FFF8F3;
    --card-background: #ffffff;
    --text-color: #333;
    --hover-color: #6b6580;
    --navbar-text-color: #333;
    --border-radius: 8px;
    --button-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
  
button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: var(--button-box-shadow);
    font-weight: bold;
}

button:hover {
    background-color: #6B6580;
}

button:disabled {
    background-color: #ccc;
}

h1, h2 {
    text-align: left;
    color: var(--text-color);
}