.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    padding: 50px;
    background: linear-gradient(to bottom left, #d5f9fe, #fffcf7);
}

.landing-title {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 20px;
    font-weight: 700;
}

.connect-wallet-btn {
    font-size: 1.4rem;
    padding: 15px 30px;
    background-color: var(--primary-color) !important;
    color: #fff !important;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background 0.3s;
}

.connect-wallet-btn:hover {
    background-color: #3700b3;
}

.landing-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--text-color);
}